@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tcspink: #e42a86;
}

@theme {
  --color-tcspink: #e42a86;
  --font-clean: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --shadow-glow: 0 2px 10px #e42a86;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-border {
  position: relative;
}

.hover-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--tcspink);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.hover-border:hover::after {
  width: 100%;
}